<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo Playwright Test Suite" parallel="methods" thread-count="2"> <!-- parallel="methods" for parallel test methods -->

    <test name="SauceDemo Tests - Chromium">
        <parameter name="browser" value="chromium"/>
        <parameter name="environment" value="qa"/>
        <classes>
            <class name="com.runner.TestRunner"/>
        </classes>
    </test>

    <!-- Uncomment to run tests on Firefox in parallel -->
    <!--
    <test name="SauceDemo Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.example.saucedemo.tests.LoginTests"/>
            <class name="com.example.saucedemo.tests.ProductTests"/>
        </classes>
    </test>
    -->

    <!-- Uncomment to run tests on WebKit in parallel -->
    <!--
    <test name="SauceDemo Tests - WebKit">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="com.example.saucedemo.tests.LoginTests"/>
            <class name="com.example.saucedemo.tests.ProductTests"/>
        </classes>
    </test>
    -->

</suite>